.puny-modal{
    background-color:rgba(0, 0, 0, 0.48);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    display:none;
}
.puny-modal.opened{
    display:block;
}
.puny-alertBox{
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:50px;
    border:1px solid #FFF;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
    word-wrap:break-word;
}
.puny-modal >.puny-alertBox{
    top:0;
    left:50%;
    transform:translate(-50%,0);
    opacity:0.85;
    border-radius: 15px 15px;
    position:fixed;
}
.puny-alertBox h1 {
    opacity:0.48;
    border-radius:15px 15px 0 0;
    border:2px solid white;
    padding:10px;
    margin:0;
    font:italic bold 0.9em sans-serif,arial;
    background-color:#0086FF;
    color:#FFF;
    border-bottom:1px solid #FFF;
    }
.puny-alertBox p {
        margin-left:5px;
        margin-right:5px;
        border-radius:5px;
        overflow:auto;
        font:0.9em sans-serif,arial;
        height:50px;
        padding:15px;
        padding-top:7px;
}
.puny-alertBox .puny-closeBtn {
    opacity:0.48;
    display:block;
    position:relative;
    margin:10px auto;
    padding:12px;
    border:0 none;
    width:70px;
    font:italic 0.9em verdana,arial;
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#067025;
    border-radius: 10px;
    text-decoration:none;
}
.puny-closeBtn:hover{
    background-color:#067046;
    cursor:pointer;
}
.puny-closeBtn:active{
    background-color:#067046;
}
.puny-closeBtn:focus{
    outline:0;
}
